<form>
  <div class="form-group col-lg">
    <label for="SearchFlower" ><strong>Search by Flora Type</strong></label>
    <input type="search" class="form-control" id="SearchFlower" placeholder="Search Your Flora"> 
    <hr>
    <label for="SearchFlower"><strong>Search by Scientific Name</strong></label>
    <input type="search" class="form-control" id="SearchFlower" placeholder="Search Your Flora">
  </div>
</form>

    <hr>
    <hr>
    <button type="button" class="btn btn-primary" id="QR" type="submit">Generate QR code</button>
    <img id="qRCodeImg" src="" alt="">


    <hr>


  <ul class="nav flex-column">
    <li class="nav-item dropdown">
      <!-- Specific CATEGORY names autofill in here Dall (Not a priority if we don't use categories yet)--> 
      <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plants</a>
	  <div class="dropdown-menu">   
      <!-- Specific plant names autofill in here Dall--> 
      <button type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-target=".bd-example-modal-lg" href="#" data-id={{id}}>Plant1</button>
      <button type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-target=".bd-example-modal-lg" href="#" data-id={{id}}>Plant2</button>
      <button type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-target=".bd-example-modal-lg" href="#" data-id={{id}}>Plant3</button>

    </div>
	  </li>
  </ul>



<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Plant Name</h5>
        <input class="form-control form-control" type="text" placeholder="Pine Tree"> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <h5 class="modal-title">Categories</h5>
            <select class="form-control" id="Categories">
                {{#each category}}
                  <option value="{{dataValues.name}}">{{dataValues.name}}</option>
                {{/each}}
            </select>
      </div>

      <div class="modal-body">
                <h5 class="modal-title">Description</h5>
                <textarea class="form-control" id="Description" rows="4"></textarea>
      </div>
      <div class="modal-body">
                <h5 class="modal-title">Instructions</h5>
                <textarea class="form-control" id="Instructions" rows="4"></textarea>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add Item</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>