<div class="row">
    <div class="col-lg-3">
        {{#each category}}
        <div id="Category" data-name="{{dataValues.name}}" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{dataValues.name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul id="{{dataValues.name}}">
                    
                </ul>
            </div>
        </div>
        {{/each}}

    </div>
    <div class="col-lg-6">
        <form>
            <div class="form-group">
                <label for="Categories">Categories</label>
                <select class="form-control" id="Categories">
                    {{#each category}}
                    <option value="{{dataValues.name}}">{{dataValues.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="Name">Plant Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Carnation">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" id="Description" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="Instructions">Instructions</label>
                <textarea class="form-control" id="Instructions" rows="4"></textarea>
            </div>
        </form>
    </div>
</div>